AUTH_TOKEN_TTL=86400
DATABASE_HOST="data/pg1"
DATABASE_NAME="app"
DATABASE_PASSWORD="passwd"
DATABASE_URL="postgresql:///${DATABASE_NAME}?host=${DATABASE_HOST}&user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}"
DATABASE_USERNAME="app"
JWT_SECRET="change-me"
