@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: color-mix(in srgb, var(--color-accent) 20%, transparent);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
