@import './base.css';

#app {
  max-width: clamp(320px, 100vw, 1280px);
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: clamp(0.125rem, 0.5vw, 0.25rem);
}

@media (hover: hover) {
  a:hover {
    background-color: color-mix(in srgb, var(--color-accent) 20%, transparent);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

body {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
}
